body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    width: 100%;
    height: auto;
}

nav {
    background-color: #8a8686;
    color: rgb(11, 11, 11);
    padding: 10px;
    font-style: normal;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #8a8686;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;    
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px;
}

form, label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    background-color: #8a8686;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}